---
interface Props {
  variant?: 'default' | 'small';
}

const { variant = 'default' } = Astro.props;
---

<script>
document.addEventListener('DOMContentLoaded', function () {
    document.documentElement.classList.add('loaded');
}, false);
</script>

<h1 class={`logo ${variant === 'small' ? 'logo-small' : ''}`}>
  <a href="/">Prasidh <br>P Shetty</a>
  <span class="logo-subtitle">Web Designer | Full-Stack Developer</span>
</h1>
